.container {
	margin-top: 32px;
}

.label {
	padding: 4px 8px;
	border-radius: 4px;
	text-transform: uppercase;
	color: rgb(var(--text-color-rgb) 0.5);
}

.label ~ .label {
	margin-left: 8px;
}

.radiogroup {
	display: flex;
	justify-content: center;
}

.radio {
	opacity: 0;
	position: fixed;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	margin: 0;
}

.radio:focus + .label {
	outline: 2px solid var(--secondary-color);
	outline-offset: 2px;
}

.radio:checked + .label {
	color: initial;
}

.table {
	display: inline-grid;
	grid-template-columns: repeat(var(--size), 1fr);
	gap: 4px;
}

.cell {
	width: 48px;
	height: 48px;
	background-color: var(--secondary-color);
	border-radius: 4px;
}

.cell-selected {
	background-color: var(--primary-color);
}

.submit {
	margin-top: 32px;
}
