{
	"plugins": ["prettier", "@typescript-eslint"],
	"extends": ["airbnb-typescript", "react-app", "prettier"],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": "./tsconfig.json"
	},
	"settings": {
		"import/resolver": {
			"typescript": {
				"alwaysTryTypes": true
			}
		}
	},
	"rules": {
		"object-curly-spacing": ["warn", "always"],
		"max-len": [
			"warn",
			{
				"code": 80,
				"ignoreStrings": true,
				"ignoreTemplateLiterals": true,
				"ignoreComments": true
			}
		],
		"no-plusplus": [
			"error",
			{
				"allowForLoopAfterthoughts": true
			}
		],
		"indent": ["error", "tab", { "SwitchCase": 1 }],
		"@typescript-eslint/no-unused-vars": [
			"error",
			{
				"vars": "all",
				"args": "none"
			}
		],
		"@typescript-eslint/no-explicit-any": [
			"error",
			{
				"ignoreRestArgs": true
			}
		],
		"@typescript-eslint/comma-dangle": [
			"error",
			{
				"arrays": "only-multiline",
				"objects": "only-multiline",
				"imports": "only-multiline",
				"exports": "only-multiline",
				"functions": "never",
				"enums": "never"
			}
		],
		"import/prefer-default-export": "off",
		"import/no-extraneous-dependencies": [
			"error",
			{
				"packageDir": "./",
				"devDependencies": [
					"**/*.test.js",
					"**/*.test.jsx",
					"**/*.test.ts",
					"**/*.test.tsx",
					"src/tests/**/*"
				]
			}
		],
		"jsx-a11y/label-has-associated-control": [
			"error",
			{
				"required": {
					"some": ["nesting", "id"]
				}
			}
		],
		"jsx-a11y/label-has-for": [
			"error",
			{
				"required": {
					"some": ["nesting", "id"]
				}
			}
		],
		"react/jsx-key": "error",
		"react/jsx-props-no-spreading": "off",
		"react/button-has-type": "off",
		"react/jsx-boolean-value": "off",
		"react/prop-types": "off",
		"react/no-unescaped-entities": "off",
		"react/jsx-one-expression-per-line": "off",
		"react/jsx-wrap-multilines": "off",
		"react/destructuring-assignment": "off",
		"react-hooks/exhaustive-deps": "off"
	}
}
