.button {
	padding: 8px 16px;
	font-size: 12px;
	text-transform: uppercase;
	border: none;
	background-color: var(--secondary-color);
	color: #fff;
	border-radius: 4px;
}

.button:focus {
	outline: 2px solid var(--secondary-color);
	outline-offset: 2px;
}
