.field {
	--field-color: #8DBF39;

	display: inline-grid;
	grid-template-columns: repeat(var(--size), minmax(24px, 1fr));
	grid-template-rows: repeat(var(--size), minmax(24px, 1fr));
	gap: 1px;
}

.cell {
	background-color: var(--field-color);
}

.snake:before,
.snake:after {
	content: '';
	position: absolute;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: var(--secondary-color);
}

.snake:before {
	top: 25%;
	left: 25%;
}

.snake:after {
	bottom: 25%;
	right: 25%;
}

.snake {
	position: relative;
	background-color: var(--primary-color);
}

.target {
	background-color: var(--primary-color);
}
